#video {
    width: 103%;
    height: 100%;
    margin-left: 0px;
    margin-top: -10px;
}

#triangle {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 0;
    height: 0;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 100px solid rgb(243, 239, 233);
}